@use "sass:map";
@use "../settings" as *;

@if map.get($modules, "content/figure") {
    /**
   * Figure
   */

    #{$parent-selector} figure {
        display: block;
        margin: var(--pico-typography-spacing-vertical) 0;
        padding: 0;

        figcaption {
            color: var(#{$css-var-prefix}muted-color);
        }
    }
}
