@use "../core/settings" as *;

footer {
  display: flex;
  padding: 0 !important;
  justify-content: space-between;
  align-items: baseline;
  border-top: medium double var(#{$css-var-prefix}primary);
  margin-top: 2rem;

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline !important;
    }
  }

  .social {
    display: flex;
    justify-content: center;
    padding: 0 0.5rem;
    gap: 1rem;

    ul {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;
      gap: 18px
    }

    li, a {
      padding: 0;
    }

    svg {
      width: 2rem;
    }
  }

  p {
    color: var(#{$css-var-prefix}muted-color);
    font-family: var(#{$css-var-prefix}font-family-header);
    font-size: 0.9rem;
  }
}
