@use "../core/settings" as *;

section>header {
  margin-bottom: 2rem;
}

.meta {
  color: var(#{$css-var-prefix}muted-color);
  font-size: 0.8rem;
}

.posts {
  grid-template-columns: 6rem 1fr;
}


.tags {
  grid-template-columns: 2rem 1fr;
  color: var(#{$css-var-prefix}muted-color);

  span {
    text-align: center;
  }
}

.pagination {
  margin-top: 2rem;
}

.post-header {
  display: flex;
  flex-direction: column;

  h1 {
    margin-bottom: 0.3rem;
  }

  .meta {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--pico-muted-color);
    font-size: 0.9rem;
    margin-bottom: 1rem;

    .tags-nav {
      display: flex;
      align-items: center;
      padding: 0;
    }

    .tags-nav ul {
      display: flex;
      align-items: center;
    }

    .separator {
      color: var(--pico-color);
      font-weight: bold;
    }

    .tag {
      padding: 0;
      display: inline-flex;
      align-items: center;

      .tag-link {
        display: inline;
        padding: 0;
        margin: 0;
        color: var(--pico-muted-color);
        

        &:hover {
          color: var(--pico-color);
        }
      }
    }
  }
}