{{ define "main" }}
<article>
  <nav aria-label="All posts">
    <a href="{{ .Section | relURL }}">&larr; Back to All Posts</a>
  </nav>
  <header class="post-header">
    <h1>{{ .Title }}</h1>
    <div class="meta">
      <div class="post-date-reading-time">
        <time datetime="{{ .PublishDate.Format "2006-01-02" }}">{{ .PublishDate.Format "January 02, 2006" }}</time>
        <span class="separator">::</span>
        <span aria-label="Reading time" class="reading-time">{{ .ReadingTime }} min</span>
      </div>
      {{ if .Params.tags }}
      <span class="separator tags-separator">::</span>
      <nav class="tags-nav">
            <ul>
            {{ range .Params.tags }}
            <li class="tag">
              <a href="{{ (urlize (printf "tags/%s/" . )) | absLangURL }}" class="tag-link">
              [{{- . -}}]
              </a>
            </li>
            {{ end }}
            </ul>
      </nav>
      {{ end }}
    </div>
  </header>

{{- /* Table of contents */ -}}
{{ if or .Params.Toc $.Site.Params.Toc }}
 {{ if ne .Params.Toc false }}
<nav aria-label="Table of Contents">
   {{ .TableOfContents }}
</nav>
 {{ end }}
{{ end }}

{{- /* Content */ -}}
{{ .Content }}
</article>
{{ end }}
